.auth {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px #22709b;
}
.forgot{
 
  display: block;
  color: #9d3737;
  font-weight: bold;
  text-align:center;
  margin-bottom: 0.5rem;
}


.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #22709b;
  font-weight: bold;
  text-align:center;
  margin-bottom: 0.5rem;
}

.control input {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
  }


.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #22709b;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color:#22709b;
  border: 1px solid #22709b;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color:#22709b;
  border-color: #22709b;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #22709b;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #22709b;
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}